<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
      <h5 class="text-center">Equation Game</h5>
      <form [formGroup]="gameForm">
        <div class="input-group mt-4" >
          <span class="text-light bg-secondary py-2 px-5">{{a}}</span>
          <span class="input-group-text">+</span>
          <span class=" text-light bg-secondary py-2 px-5">{{b}}</span>
          <span class="input-group-text"> = </span>
          <input class="form-control" type="number" formControlName="answer" appBgChange [ngClass]="{'is-invalid': checkAnswerInputValidation()}" >
        </div>
        <button type="button" class="btn btn-info mt-2" (click)="resetForm()">reset</button>
        <button type="submit" class="btn btn-primary ms-2 mt-2">Check</button>
        <button class="btn btn-secondary ms-2 mt-2">
          Correct Answers: <span class="badge text-bg-secondary">{{correctAnswerCount}}</span>
        </button>
        <button class="btn btn-warning ms-2 mt-2">
          Seconds Per Answer: {{secondsPerAnswer | number: '1.2'}}
        </button>
      </form>
    </div>
  </div>
</div>