.container-fluid {
  background-image: url("../assets/math-back-1.webp");
  height: 100vh;
  background-repeat: repeat;
  background-size: contain;
  background-position: right;
  background-color: white;
  background-blend-mode: hard-light;
}

.game-box {
  margin-top: 5rem;
  background-color: rgb(223 209 209 / 32%);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px aquamarine;
  text-align: center;
}

.input-box {
  background-color: white;
  padding: 1rem 0;
  border-radius: 10px;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.answer-input {
  display: inline-block;
  width: 190px;
  outline: none;
  border: none;
  background-color: aliceblue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
  font-size: 2rem;
  text-align: center;
}

.game-result {
  margin-top: 2;
}

.game-result span {
  border: 3px solid darkseagreen;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: forestgreen;
  color: white;
}

.near-highlight {
  background-color: rgb(240, 211, 174);
}

.correct-highlight {
  background-color: green;
  color: white;
}