<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
      <div class="game-box">
        <h3 class="text-center">Equation Game</h3>
        <form [formGroup]="gameForm">
          <div class="input-box mt-4">
            <span class="number-box py-2 px-5">{{a}}</span>
            <span class="operator">+</span>
            <span class="number-box py-2 px-5">{{b}}</span>
            <span class="operator"> = </span>
            <input class="form-control answer-input" type="number" formControlName="answer" appBgChange
              [ngClass]="{'is-invalid': checkInputValidation()}">
          </div>
          <div class="game-result">
            <span class="corrects ms-2 mt-2">
              Correct Answers: {{correctAnswerCount}}
            </span>
            <span class="seconds ms-2 mt-2">
              Seconds Per Answer: {{secondsPerAnswer | number: '1.2'}}
            </span>
          </div>
          <hr class="separator mt-5">
          <div class="game-setting">
            <button type="button" class="btn btn-primary btn-sm" (click)="startGame()">Start Game</button>
            <button type="button" class="btn btn-warning btn-sm ms-2" (click)="resetGame()">Reset Game</button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info btn-sm ms-2" data-bs-toggle="modal"
              data-bs-target="#exampleModal" #chooseGameLevelBtn>
              Choose Game Level
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="chooseGameLevelForm" (ngSubmit)="chooseGameLevel($event)">
        <div class="modal-body text-center">
          <h5>Welcome to Math Game!</h5>
          <img class="w-50" src="assets/wellcome.jpg" alt="">
          <label for="game-level" class="d-block mb-3">Choose Game Level:</label>
          <select id="game-level" class="form-select" formControlName="level">
            <option [ngValue]="level.levelValue" *ngFor="let level of gameLevels">{{level.levelName}}</option>
          </select>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Go</button>
        </div>
      </form>
    </div>
  </div>
</div>